Test Notebook for Gary on Excel Creation 

Version 1.0
Author: Gary Manley
Date: 2025-12-23

Setup the imports

In [1]:
import sys
import os
import pandas as pd
import sqlite3
import numpy as np

# Add the 'src' directory to the path so we can import the wrapper class
# Assumes this notebook is in the 'notebooks/' folder and source is in 'src/'
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..', 'src')))

from enterprise_writer import EnterpriseExcelWriter
from query_library import fGetRegionalSales, fGetDataDictionary, fGetRunbyMonth
from config_provider import fGetReportConfig

In [2]:
# 1. Fetch Configuration
vProfileName = 'England_Internal'

# Fetch config from DB
vConfig = fGetReportConfig(vProfileName)

print(f"Loaded Profile: {vProfileName}")
print(vConfig)

Loaded Profile: England_Internal
{'primary_color': '#CE1124', 'secondary_color': '#F4C3C3', 'title_prefix': 'ENG - OFFICIAL: ', 'show_watermark': 'True', 'logo_path': 'assets/logo_eng.jpg', 'font_family': 'Arial'}

In [4]:
dfRun = fGetRunbyMonth()

display(dfRun)

   run_month  total_distance
0     202411        502436.0
1     202412        497318.0
2     202501        609653.0
3     202502        286261.0
4     202503        387711.0
5     202504        293026.0
6     202505        411298.0
7     202506        308549.0
8     202507        478560.0
9     202508        477691.0
10    202509        486770.0
11    202510        464157.0
12    202511        555933.0
13    202512        414674.0

In [9]:
dfDict = fGetDataDictionary()
display(dfDict)
# Initialize Writer
vReport = EnterpriseExcelWriter("GaryTest.xlsx", vConfig=vConfig)
vReport.fSetColumnMapping(dfDict)

         column_name         display_name         column_description
0        region_name          Region Name         Geographic region.
1      total_revenue  Total Revenue (GBP)          Revenue post-tax.
2    efficiency_rate     Efficiency Score      Output / Input ratio.
3  monthly_total_uda     Total Deliveries  Total packages attempted.

In [10]:
vReport.fAddTitle("Gary Performance Report")
# Finish
vReport.fClose()

File saved: GaryTest.xlsx